#header .module h2, .module caption, .inline-group h2{
    background: #198a68;
    color: #fff;
}

#branding h1, #branding h1 a:link, #branding a:visited{
    color: #fff;
}

#div.breadcrumbs {
    background: #888a19;
}